/* CSS Document */

body {
	background-color: #8A2BE2;
	background-image:url('fundo.jpg');
}	
hr {
	color:black;
}	
h1 {
	text-align: center;
	color:#c8f5c88a;
}
p.uppercase {
    text-transform: uppercase;
}
p.date {
 	text-align:right;
}
p.main {
	text-align:justify;
}
p {
    color: #1d5b6e;
	font-family: arial:
}	

	
